body {
  background-image: linear-gradient(
    to bottom,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 80%,
    #bcbcbc 100%
  );
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }
}
.header {
  width: 100%;
}
.img {
  margin: 5%;
}
